.out/
.idea/

# colcon / catkin build artefacts
/build/
/install/
/log/
/.out/
/.ros/
/.venv/
/venv/
/__pycache__/
/*.pyc

# editor files
.vscode/
*.swp

# OS
.DS_Store

**/articles/**
**/my_plans/**
**/gazebo_bags/**
**/isaac_sim_bags/**
